*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
font-family: 'Tilt Prism', cursive;
justify-content: space-around;
}
marquee{
    background-color: green;
}

.navcontainer{
    background-color: rgb(34, 30, 30);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navcontainer ul{
    display: flex;
    align-items: center;
    padding: 40px;
}
.navcontainer ul a{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 18px;
    padding: 12px;
    transition: 1s;
}
.navcontainer ul a li{
    list-style: none;
}
.navform{
    display: flex;
    align-items: center;
    padding: 40px;
    justify-content: center;
    column-gap: 10px;
}

.navform #search{
    width: 230px;
    padding: 7px 5px;
    border-radius: 5px;
}
.navform #submit{
    padding: 5px 10px;
    font-size: 20px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
    transition: 0.5;
   
}
.navcontainer ul a:hover{
    background-color: white;
    color: black;
}
.navform #submit:hover{
background-color: blueviolet;
opacity: 0.7;
}
